

.navbar-brand img{
    width: 120px;
    height: 56px;
    /* background-color: white; */
    border-radius: 10px;
}

#searchBox{
    width: 300px;
}

/* .navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
} */
.navbar .navbar-nav .nav-item .nav-link:link, .navbar .navbar-nav .nav-item .nav-link:visited  {
    color: #fff;
    margin-right: 50px;
    font-weight: bold;
}
.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:active  {
    /* border-bottom: 1px solid lightgrey; */
    margin-right: 50px;
    color: lightcoral;
}

/* .homeHeader{
    background: url('../../images/home-bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
} */


